<div class="wrapper fadeInDown">
    <div id="formContent">
      <h1 id = 'errorMassage'>{{errorMassage}}</h1>
      <form id="chatForm">
        <input type="text" [(ngModel)]="message" id="message" class="fadeIn second" name="message" placeholder="Say something..."><br><br>
        <button (click)="post" type="button" class="fadeIn fourth" value="Post">Post</button>
      </form>
    </div>
    <div>
        <ul>
            <li>{{chats[0].user}}: {{chats[0].message}}</li>
        </ul>
    </div>
  </div>
